.tooltip-anchor {
  --tooltip-display: block;

  display: var(--tooltip-display);
  position: relative;
}

.tooltip-anchor--inline {
  --tooltip-display: inline-block;
}

.tooltip-wrapper {
  position: fixed;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
}

.tooltip {
  --tooltip-margin: var(--size-3);
  --tooltip-arrow: var(--size-2);
  --tooltip-offset: 0px;

  position: absolute;
  padding-inline: var(--size-3);
  padding-block: var(--size-2);
  box-shadow: var(--shadow-3);
  width: max-content;
  max-width: 32ch;
  text-align: center;

  &::before {
    content: ' ';
    position: absolute;
    left: 50%;
    height: 0;
    width: 0;
    pointer-events: none;
    border: solid transparent;
    border-width: var(--tooltip-arrow);
    margin-left: calc(var(--tooltip-arrow) * -1);
  }
}

.tooltip--top {
  top: calc(var(--tooltip-margin) * -1);
  left: calc(100% + var(--tooltip-offset));
  transform: translateX(-50%) translateY(-100%);

  &::before {
    top: 100%;
    left: calc(50% - var(--tooltip-offset));
  }
}

.tooltip--right {
  left: calc(100% + var(--tooltip-margin));
  top: calc(50% + var(--tooltip-offset));
  transform: translateX(0) translateY(-50%);

  &::before {
    left: calc(var(--tooltip-arrow) * -1);
    top: calc(50% - var(--tooltip-offset));
    transform: translateX(0) translateY(-50%);
  }
}

.tooltip--bottom {
  bottom: calc(var(--tooltip-margin) * -1);
  left: calc(100% + var(--tooltip-offset));
  transform: translateX(-50%) translateY(100%);

  &::before {
    bottom: 100%;
    left: calc(50% - var(--tooltip-offset));
  }
}

.tooltip--left {
  left: auto;
  right: calc(100% + var(--tooltip-margin));
  top: calc(50% + var(--tooltip-offset));
  transform: translateX(0) translateY(-50%);

  &::before {
    left: auto;
    right: calc(var(--tooltip-arrow) * -2);
    top: calc(50% - var(--tooltip-offset));
    transform: translateX(0) translateY(-50%);
  }
}

.tooltip--nowrap {
  white-space: nowrap;
}
