.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-4);
  width: 100%;
  padding: var(--size-3) var(--size-4);
  border: var(--border-size-1) solid var(--surface-3);
  box-shadow: var(--shadow-2);
  max-height: calc(min(780px, 100vh) - 2 * var(--size-8));
  overflow-y: auto;
  min-height: var(--size-12);
}

.list--empty {
  font-size: var(--font-size-2);
  font-style: italic;
  justify-content: center;
}

.button {
  position: relative;
  display: inline-block;
  background-color: var(--accent);
  padding: var(--size-2) var(--size-3);
  border-radius: var(--radius-2);
  cursor: pointer;
  transition: all 0.05s var(--ease-in-out-2);
  transition-property: box-shadow, transform;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: var(--radius-2);
    background: var(--smoke);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.075s var(--ease-in-out-2);
  }

  &:hover {
    box-shadow: var(--shadow-3);
    transform: scale(1.05);

    &::before {
      opacity: 0.1;
    }
  }

  &:active {
    box-shadow: var(--shadow-2);
    transform: scale(0.97);

    &::before {
      opacity: 0;
    }
  }
}
