@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  src: local(''),
    url('./fonts/catamaran/Catamaran-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  src: local(''),
    url('./fonts/sourcecodepro/SourceCodePro-VariableFont_wght.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  src: local(''),
    url('./fonts/sourcecodepro/SourceCodePro-Italic-VariableFont_wght.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  src: local(''),
    url('./fonts/urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  src: local(''),
    url('./fonts/urbanist/Urbanist-Italic-VariableFont_wght.ttf')
      format('truetype');
}
