:root {
  // https://coolors.co/gradient-palette/fcfcfc-adb5bd?number=5
  // https://coolors.co/gradient-palette/adb5bd-0f1010?number=9

  /* CSS HEX */
  --gray-0: #fcfcfc;
  --gray-1: #e8eaec;
  --gray-2: #d5d9dd;
  --gray-3: #c1c7cd;
  --gray-4: #adb5bd; // Pivot point
  --gray-5: #99A0A7;
  --gray-6: #868c92;
  --gray-7: #72777c;
  --gray-8: #5e6367;
  --gray-9: #4a4e51;
  --gray-10: #37393b;
  --gray-11: #232526;
  --gray-12: #0f1010;

  /* CSS HSL */
  --gray-0-hsl: 0, 0%, 99%;
  --gray-1-hsl: 210, 10%, 92%;
  --gray-2-hsl: 210, 11%, 85%;
  --gray-3-hsl: 210, 11%, 78%;
  --gray-4-hsl: 210, 11%, 71%;
  --gray-5-hsl: 210, 7%, 63%;
  --gray-6-hsl: 210, 5%, 55%;
  --gray-7-hsl: 210, 4%, 47%;
  --gray-8-hsl: 207, 5%, 39%;
  --gray-9-hsl: 206, 5%, 30%;
  --gray-10-hsl: 210, 4%, 22%;
  --gray-11-hsl: 200, 4%, 14%;
  --gray-12-hsl: 180, 3%, 6%;
}
