:root {
  // https://coolors.co/gradient-palette/ebf3ff-4294ff?number=5
  // https://coolors.co/gradient-palette/4294ff-03033f?number=9

  /* CSS HEX */
  --indigo-0: #ebf3ff;
  --indigo-1: #c1dbff;
  --indigo-2: #97c4ff;
  --indigo-3: #6cacff;
  --indigo-4: #4294ff; // Pivot point
  --indigo-5: #3A82E7;
  --indigo-6: #3270CF;
  --indigo-7: #2A5EB7;
  --indigo-8: #234C9F;
  --indigo-9: #1B3987;
  --indigo-10: #13276F;
  --indigo-11: #0B1557;
  --indigo-12: #03033F;

  /* CSS HSL */
  --indigo-0-hsl: 216, 100%, 96%;
  --indigo-1-hsl: 215, 100%, 88%;
  --indigo-2-hsl: 214, 100%, 80%;
  --indigo-3-hsl: 214, 100%, 71%;
  --indigo-4-hsl: 214, 100%, 63%;
  --indigo-5-hsl: 215, 78%, 57%;
  --indigo-6-hsl: 216, 62%, 50%;
  --indigo-7-hsl: 218, 63%, 44%;
  --indigo-8-hsl: 220, 64%, 38%;
  --indigo-9-hsl: 223, 67%, 32%;
  --indigo-10-hsl: 227, 71%, 25%;
  --indigo-11-hsl: 232, 78%, 19%;
  --indigo-12-hsl: 240, 91%, 13%;
}
