.wrapper {
  padding: var(--size-2);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow-y: auto;
}

.title {
  font-size: var(--font-size-2);
}

.divider {
  flex: 0 0 auto;
  height: 1px;
  width: 100%;
  background-color: var(--surface-2);
  margin: 0;
}
