.wrapper {
  padding: var(--size-2);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow-y: auto;
}

.migration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--size-2);
}

.description {
  background-color: var(--accent);
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-round);
  width: 2rem;
  padding: 0;
  aspect-ratio: 1;
  color: var(--text-1);

  > svg {
    width: 100%;
  }
}

.delete-button {
  background-color: var(--red-9);
}

.divider {
  flex: 0 0 auto;
  height: 1px;
  width: 100%;
  background-color: var(--surface-2);
  margin: 0;
}
