/* TODO: Re-enable after consolidating styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  src: local(''),
    url('$renderer/fonts/catamaran/Catamaran-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  src: local(''),
    url('$renderer/fonts/sourcecodepro/SourceCodePro-VariableFont_wght.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  src: local(''),
    url('$renderer/fonts/sourcecodepro/SourceCodePro-Italic-VariableFont_wght.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  src: local(''),
    url('$renderer/fonts/urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  src: local(''),
    url('$renderer/fonts/urbanist/Urbanist-Italic-VariableFont_wght.ttf')
      format('truetype');
}

:root {
  --font-sans: 'Urbanist', 'Catamaran', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif;
  --font-serif: ui-serif, serif;
  --font-mono: 'Source Code Pro', Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace,
    SF Mono, Monaco, Droid Sans Mono, monospace;
}

html {
  font-family: var(--font-sans);
}
