html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-2);
  background-color: var(--surface-0);
  caret-color: var(--accent);
  accent-color: var(--accent);

  transition: all 0.15s var(--ease-out-3);
}

body,
div#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable both-edges;
  min-block-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(:focus-visible) {
  outline-color: var(--text-1);
  outline-width: 2px;
  outline-offset: 0;
  outline-style: solid;
}

:where(:not(dialog)) {
  margin: 0;
}

:where(:not(fieldset, progress, meter)) {
  border-style: solid;
  border-width: 0;
}

a,
u,
ins,
abbr {
  text-underline-offset: 1px;
}

a[href],
area,
button,
label[for],
select,
summary,
[tabindex]:not([tabindex*='-']) {
  cursor: pointer;
  touch-action: manipulation;
}

abbr {
  text-decoration-color: var(--blue-5);
}

p {
  max-inline-size: var(--size-content-3);
}

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
}

pre {
  display: inline-block;
  max-inline-size: max-content;
  min-inline-size: 0;
  white-space: pre;
}

input,
textarea {
  cursor: auto;
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
}

input,
button,
textarea,
select,
input[type='file']::-webkit-file-upload-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

input[type='checkbox'],
input[type='radio'] {
  block-size: var(--size-3);
  inline-size: var(--size-3);
}
