:root {
  --neutral-1-hsl: var(--surface-2-hsl);
  --neutral-2-hsl: var(--surface-3-hsl);
  --text-light-1-hsl: var(--gray-11-hsl);
  --text-light-2-hsl: var(--gray-10-hsl);
  --text-dark-1-hsl: var(--gray-0-hsl);
  --text-dark-2-hsl: var(--gray-2-hsl);

  --neutral-1: hsl(var(--neutral-1-hsl));
  --neutral-2: hsl(var(--neutral-2-hsl));
  --text-light-1: hsl(var(--text-light-1-hsl));
  --text-light-2: hsl(var(--text-light-2-hsl));
  --text-dark-1: hsl(var(--text-dark-1-hsl));
  --text-dark-2: hsl(var(--text-dark-2-hsl));

  --accent: hsl(var(--accent-hsl));
  --link: hsl(var(--link-hsl));
  --link-visited: hsl(var(--link-visited-hsl));
  --text-1: hsl(var(--text-1-hsl));
  --text-2: hsl(var(--text-2-hsl));
  --text-invert-1: hsl(var(--text-invert-1-hsl));
  --text-invert-2: hsl(var(--text-invert-2-hsl));
  --surface-0: hsl(var(--surface-0-hsl));
  --surface-1: hsl(var(--surface-1-hsl));
  --surface-2: hsl(var(--surface-2-hsl));
  --surface-3: hsl(var(--surface-3-hsl));
  --surface-4: hsl(var(--surface-4-hsl));
  --input: hsl(var(--input-hsl));
  --success: hsl(var(--success-hsl));
  --info: hsl(var(--info-hsl));
  --warn: hsl(var(--warn-hsl));
  --danger: hsl(var(--danger-hsl));

  --accent-hsl: var(--indigo-4-hsl);
  --link-hsl: var(--indigo-7-hsl);
  --link-visited-hsl: var(--grape-7-hsl);
  --text-1-hsl: var(--text-light-1-hsl);
  --text-2-hsl: var(--text-light-2-hsl);
  --text-invert-1-hsl: var(--text-dark-1-hsl);
  --text-invert-2-hsl: var(--text-dark-2-hsl);
  --surface-0-hsl: var(--gray-0-hsl);
  --surface-1-hsl: var(--gray-1-hsl);
  --surface-2-hsl: var(--gray-2-hsl);
  --surface-3-hsl: var(--gray-3-hsl);
  --surface-4-hsl: var(--gray-4-hsl);
  --input-hsl: var(--surface-3-hsl);
  --success-hsl: var(--teal-4-hsl);
  --info-hsl: var(--indigo-4-hsl);
  --warn-hsl: var(--yellow-4-hsl);
  --danger-hsl: var(--red-4-hsl);

  color-scheme: light;

  @media (prefers-color-scheme: dark) {
    --accent-hsl: var(--indigo-7-hsl);
    --link-hsl: var(--indigo-3-hsl);
    --link-visited-hsl: var(--grape-3-hsl);
    --text-1-hsl: var(--text-dark-1-hsl);
    --text-2-hsl: var(--text-dark-2-hsl);
    --text-invert-1-hsl: var(--text-light-1-hsl);
    --text-invert-2-hsl: var(--text-light-2-hsl);
    --surface-0-hsl: var(--gray-14-hsl);
    --surface-1-hsl: var(--gray-13-hsl);
    --surface-2-hsl: var(--gray-12-hsl);
    --surface-3-hsl: var(--gray-11-hsl);
    --surface-4-hsl: var(--gray-10-hsl);
    --input-hsl: var(--surface-2-hsl);
    --success-hsl: var(--teal-9-hsl);
    --info-hsl: var(--indigo-7-hsl);
    --warn-hsl: var(--yellow-6-hsl);
    --danger-hsl: var(--red-7-hsl);

    color-scheme: dark;
  }
}

html {
  &.light-theme {
    --accent-hsl: var(--indigo-4-hsl);
    --link-hsl: var(--indigo-7-hsl);
    --link-visited-hsl: var(--grape-7-hsl);
    --text-1-hsl: var(--text-light-1-hsl);
    --text-2-hsl: var(--text-light-2-hsl);
    --text-invert-1-hsl: var(--text-dark-1-hsl);
    --text-invert-2-hsl: var(--text-dark-2-hsl);
    --surface-0-hsl: var(--gray-0-hsl);
    --surface-1-hsl: var(--gray-1-hsl);
    --surface-2-hsl: var(--gray-2-hsl);
    --surface-3-hsl: var(--gray-3-hsl);
    --surface-4-hsl: var(--gray-4-hsl);
    --input-hsl: var(--surface-3-hsl);
    --success-hsl: var(--teal-4-hsl);
    --info-hsl: var(--indigo-4-hsl);
    --warn-hsl: var(--yellow-4-hsl);
    --danger-hsl: var(--red-4-hsl);
  
    color-scheme: light;
  }

  &.dark-theme {
    --accent-hsl: var(--indigo-7-hsl);
    --link-hsl: var(--indigo-3-hsl);
    --link-visited-hsl: var(--grape-3-hsl);
    --text-1-hsl: var(--text-dark-1-hsl);
    --text-2-hsl: var(--text-dark-2-hsl);
    --text-invert-1-hsl: var(--text-light-1-hsl);
    --text-invert-2-hsl: var(--text-light-2-hsl);
    --surface-0-hsl: var(--gray-14-hsl);
    --surface-1-hsl: var(--gray-13-hsl);
    --surface-2-hsl: var(--gray-12-hsl);
    --surface-3-hsl: var(--gray-11-hsl);
    --surface-4-hsl: var(--gray-10-hsl);
    --input-hsl: var(--surface-2-hsl);
    --success-hsl: var(--teal-9-hsl);
    --info-hsl: var(--indigo-7-hsl);
    --warn-hsl: var(--yellow-6-hsl);
    --danger-hsl: var(--red-7-hsl);

    color-scheme: dark;
  }
}
