.input {
  position: relative;
  height: 8rem;
  width: 8rem;
  image-rendering: pixelated;
  overflow: hidden;
  cursor: pointer;

  & * {
    pointer-events: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-icon {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  padding: 0;
  aspect-ratio: 1;

  > svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.image {
  image-rendering: pixelated;
  height: 8rem;
  width: auto;
  object-fit: contain;
}
