:root {
  // https://coolors.co/gradient-palette/ebf9ff-66d4ff?number=5
  // https://coolors.co/gradient-palette/66d4ff-03113d?number=9

  /* CSS HEX */
  --blue-0: #ebf9ff;
  --blue-1: #c1edff;
  --blue-2: #97e2ff;
  --blue-3: #6cd6ff;
  --blue-4: #66d4ff; // Pivot point
  --blue-5: #42caff;
  --blue-6: #39b0e3;
  --blue-7: #3095c8;
  --blue-8: #277bac;
  --blue-9: #1e6090;
  --blue-10: #154674;
  --blue-11: #0c2b59;
  --blue-12: #03113d;

  /* CSS HSL */
  --blue-0-hsl: 198 100% 96%;
  --blue-1-hsl: 197 100% 88%;
  --blue-2-hsl: 197 100% 80%;
  --blue-3-hsl: 197 100% 71%;
  --blue-4-hsl: 197 100% 70%;
  --blue-5-hsl: 197 100% 63%;
  --blue-6-hsl: 198 75% 56%;
  --blue-7-hsl: 200 61% 49%;
  --blue-8-hsl: 202 63% 41%;
  --blue-9-hsl: 205 66% 34%;
  --blue-10-hsl: 209 69% 27%;
  --blue-11-hsl: 216 76% 20%;
  --blue-12-hsl: 226 91% 13%;
}
