.chip {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  border-radius: 0.8rem;
  padding-inline: 0.6rem;
  white-space: nowrap;
}

.chip--deletable {
  padding-inline-end: calc(1rem + 0.3rem + var(--size-2));
}

.delete-button {
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;

  .chip--outlined & {
    right: calc(0.3rem - 1px);
    bottom: calc(0.3rem - 1px);
  }
}
