.page-wrapper {
  display: grid;
  height: 100%;
  gap: var(--size-4);
  grid-template-columns: repeat(2, 1fr);
  padding: var(--size-8) var(--size-4);
  width: 100%;
}

.page-column {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  align-items: center;
  justify-content: center;
  padding: var(--size-8);
}

.icon-input {
  position: relative;
  height: 8rem;
  width: 8rem;
  image-rendering: pixelated;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
    background-color: hsl(var(--gray-1-hsl) / 0.4);
    background-image: url('/edit.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.075s var(--ease-in-out-2);
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.icon-input--empty {
  &::before {
    opacity: 0.5;
  }
}
