.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-3);

  > * {
    flex: 0 0 auto;
  }
}

.inputs {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--size-1);
}
