.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-3);

  > * {
    flex: 0 0 auto;
  }
}

.inputs {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--size-1);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.actions-group {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  align-items: center;
}
