.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-4);

  > * {
    flex: 0 0 auto;
  }
}

.inputs {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--size-3);
}

.icon-column {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.icon-column-gap {
  flex: 1 1 100%;
}

.issue-icon {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-round);
  width: 2rem;
  padding: 0;
  aspect-ratio: 1;
  color: var(--text-1);

  > svg {
    width: 100%;
  }
}

.warning {
  background-color: var(--orange-7);
}

.error {
  background-color: var(--red-9);
}
