.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 0;
  padding: 0;
  gap: var(--size-3);
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-1);
}
