.button {
  display: inline-block;
  padding: var(--size-2) var(--size-3);
  transition: all 0.05s var(--ease-in-out-2);
  transition-property: box-shadow, transform;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  &:hover {
    box-shadow: var(--shadow-3);
    transform: scale(1.05);
  }

  &:active {
    box-shadow: var(--shadow-2);
    transform: scale(0.97);
  }
}
