.modal {
  width: 40%;
  min-width: 30ch;
  max-width: 60ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-3);
  background-color: var(--surface-1);
  border: var(--border-size-2) solid var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-5);
  padding: var(--size-4);
}

.header {
  font-size: var(--font-size-3);
}
