.modal {
  position: relative;
  min-width: 30ch;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-3);
  background-color: var(--surface-0);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-5);
  padding: var(--size-4);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--size-3);
}

.name {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-6);
  white-space: nowrap;
}

a.link {
  font-size: var(--font-size-4);
  margin: 0;
  padding: 0;
  color: var(--text-2);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--text-1);
  }

  > svg {
    display: flex;
  }
}

.tooltip {
  z-index: 10000;
}
