.wrapper {
  position: relative;
  height: var(--painting-grid-height);
  width: var(--painting-grid-width);
  background-image: url('/grid-square.png');
  background-size: 2rem 2rem;
  background-repeat: repeat;
  border: 0.125rem solid var(--smoke);
  box-sizing: content-box;
  background-color: transparent;
  transition: background-color;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
    background-color: hsl(var(--gray-1-hsl) / 0.4);
    background-image: url('/edit.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.075s var(--ease-in-out-2);
  }

  &:hover {

    &::before {
      opacity: 1;
    }
  }
}
