.text-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-0);
  min-width: min(60ch, 25vw);
}

.text-input__label {
  font-size: var(--font-size-0);
}

.text-input__input-container {
  display: flex;
  flex-direction: row;
  gap: var(--size-0);
  align-items: center;
}

.text-input__input {
  flex: 1;
}

.text-input__prefix, .text-input__suffix {
  white-space: nowrap;
}
