.wrapper {
  position: relative;
  height: var(--painting-grid-height);
  width: var(--painting-grid-width);
  background-image: url('$renderer/img/grid-square.png');
  background-size: 2.4rem;
  background-repeat: repeat;
  image-rendering: pixelated;
  border: 0.15rem solid var(--white);
  box-sizing: content-box;
  background-color: transparent;
  cursor: pointer;

  --overlay-opacity: 0;
  --icon-opacity: 0;

  &--empty {
    --icon-opacity: 1;
  }

  &:hover {
    --overlay-opacity: 0.15;
    --icon-opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--gray-0-hsl) / var(--overlay-opacity));
  transition: background-color 0.075s var(--ease-in-out-2);
}

.overlay-icon {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-round);
  width: 3rem;
  padding: 0;
  aspect-ratio: 1;
  background-color: var(--accent);
  color: var(--text-1);
  opacity: var(--icon-opacity);
  transition: opacity 0.075s var(--ease-in-out-2);

  > svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--painting-height);
  width: var(--painting-width);
  background-color: black;
}

.painting {
  position: relative;
  image-rendering: pixelated;
  max-height: 100%;
  max-width: 100%;
  height: var(--painting-height);
  width: var(--painting-width);
}
