.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-0);
  width: 100%;
}

.label {
  font-size: var(--font-size-0);
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: var(--size-0);
  align-items: center;
}

.input {
  flex: 1;
}
