.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-0);
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: var(--size-0);
  align-items: center;
}

.input {
  flex: 1;
}

.input--clearable {
  padding-right: calc(1.5rem + var(--size-1) + var(--size-2));
}

.prefix, .suffix {
  white-space: nowrap;
}

.clear-button {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
}
