.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--gray-0-hsl) / 0.5);
  z-index: 1000;
}

.modal {
  width: 40%;
  min-width: 30ch;
  max-width: 60ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--size-3);
  background-color: var(--surface-1);
  border: var(--border-size-2) solid var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
  padding: var(--size-4);
}

.modal-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  gap: var(--size-3);

  > * {
    flex: 1 1 0;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 0;

  > * {
    flex: 1 1 100%;
    overflow: hidden;
  }
}

.footer {
  flex: 0 0 auto;
}
