.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--gray-0-hsl) / 0.5);
  z-index: 1000;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  > * {
    flex: 1 1 100%;
    overflow: hidden;
  }
}

.footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  background-color: var(--accent);
  padding: calc(var(--size-1) / 2) var(--size-3);
  gap: var(--size-4);
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-5);
  color: var(--text-1);

  > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-3);
  }
}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--surface-1-hsl) / 0.25);
  padding: var(--size-3);
  gap: var(--size-3);
  overflow-y: auto;
}

.main-panel {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.main-panel__header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  background-color: hsl(var(--surface-1-hsl) / 0.5);
  border-bottom: 1px solid var(--surface-2);
  padding: var(--size-2) var(--size-3);
  gap: var(--size-4);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-5);
}

.main-panel__content {
  overflow-y: auto;
}

.icon-input {
  position: relative;
  height: 8rem;
  width: 8rem;
  image-rendering: pixelated;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
    background-color: hsl(var(--gray-0-hsl) / 0.3);
    background-image: url('./img/edit.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.075s var(--ease-in-out-2);
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.icon-input--empty {
  &::before {
    opacity: 0.5;
  }
}
