.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
  align-items: center;
  justify-content: space-between;
  padding: var(--size-2) var(--size-3);
  background-color: hsl(var(--surface-1-hsl) / 0.5);
  border-bottom: 1px solid var(--surface-2);
}

.title {
  font-size: var(--font-size-5);
}

.actions {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  gap: var(--size-3);
  align-items: center;
  justify-content: flex-end;
}

.filters {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--size-2);
  padding: var(--size-2);
  background-color: hsl(var(--surface-1-hsl) / 0.8);
  border-bottom: 1px solid var(--surface-2);
}

.filter-chips {
  display: flex;
  flex-direction: row;
  gap: var(--size-2);
  align-items: center;
  justify-content: flex-start;
}

.list {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--size-4);
  padding: var(--size-3);
  overflow-y: auto;
}

.list--empty {
  font-size: var(--font-size-3);
  font-style: italic;
  color: var(--text-2);
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.divider {
  flex: 0 0 auto;
  height: 1px;
  width: 100%;
  background-color: var(--surface-2);
  margin: 0;
}
