.wrapper {
  display: flex;
  flex-direction: row;
  padding-inline: var(--size-2);
  align-items: stretch;

  > * {
    padding: 0 var(--size-2);
    flex: 0 0 auto;
    line-height: 1.7;
    display: inline-flex;
    align-items: center;
  }
}

.spacer {
  flex: 1;
}

.stat {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-1);

  > svg {
    width: 0.7rem;
    height: 0.7rem;
  }
}
