:root {
  // https://coolors.co/gradient-palette/fcfcfc-adb5bd?number=5
  // https://coolors.co/gradient-palette/adb5bd-191a1a?number=12

  /* CSS HEX */
  --gray-0: #fcfcfc;
  --gray-1: #e8eaec;
  --gray-2: #d5d9dd;
  --gray-3: #c1c7cd;
  --gray-4: #adb5bd; // Pivot point
  --gray-5: #9fa6ad;
  --gray-6: #90979e;
  --gray-7: #82888e;
  --gray-8: #74797e;
  --gray-9: #656a6e;
  --gray-10: #575b5f;
  --gray-11: #484c4f;
  --gray-12: #3a3d3f;
  --gray-13: #2c2e2f;
  --gray-14: #1d1f20;
  --gray-15: #0f1010;

  /* CSS HSL */
  --gray-0-hsl: 0 0% 99%;
  --gray-1-hsl: 210 10% 92%;
  --gray-2-hsl: 210 11% 85%;
  --gray-3-hsl: 210 11% 78%;
  --gray-4-hsl: 210 11% 71%;
  --gray-5-hsl: 210 8% 65%;
  --gray-6-hsl: 210 7% 59%;
  --gray-7-hsl: 210 5% 53%;
  --gray-8-hsl: 210 4% 47%;
  --gray-9-hsl: 207 4% 41%;
  --gray-10-hsl: 210 4% 36%;
  --gray-11-hsl: 206 5% 30%;
  --gray-12-hsl: 204 4% 24%;
  --gray-13-hsl: 200 3% 18%;
  --gray-14-hsl: 200 5% 12%;
  --gray-15-hsl: 180 3% 6%;
}
