:root {
  // https://coolors.co/gradient-palette/ffebeb-ff667a?number=5
  // https://coolors.co/gradient-palette/ff667a-3d0303?number=9

  /* CSS HEX */
  --red-0: #ffebeb;
  --red-1: #ffcacf;
  --red-2: #ffa9b3;
  --red-3: #ff8796;
  --red-4: #ff667a; // Pivot point
  --red-5: #e75a6b;
  --red-6: #cf4d5c;
  --red-7: #b6414d;
  --red-8: #9e353f;
  --red-9: #862830;
  --red-10: #6e1c21;
  --red-11: #550f12;
  --red-12: #3d0303;

  /* CSS HSL */
  --red-0-hsl: 0 100% 96%;
  --red-1-hsl: 354 100% 90%;
  --red-2-hsl: 353 100% 83%;
  --red-3-hsl: 353 100% 76%;
  --red-4-hsl: 352 100% 70%;
  --red-5-hsl: 353 75% 63%;
  --red-6-hsl: 353 56% 56%;
  --red-7-hsl: 354 47% 48%;
  --red-8-hsl: 354 50% 41%;
  --red-9-hsl: 355 54% 34%;
  --red-10-hsl: 356 59% 27%;
  --red-11-hsl: 357 70% 20%;
  --red-12-hsl: 0 91% 13%;
}
