.wrapper {
  position: relative;
  height: var(--painting-grid-height);
  width: var(--painting-grid-width);
  background-image: url('../../img/grid-square.png');
  background-size: 2.4rem;
  background-repeat: repeat;
  border: 0.15rem solid var(--smoke);
  box-sizing: content-box;
  background-color: transparent;
  cursor: pointer;
  transition: background-color;

  &:hover {
    .edit-overlay {
      opacity: 1;
    }
  }
}

.edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  user-select: none;
  background-color: hsl(var(--gray-1-hsl) / 0.4);
  background-image: url('../../img/edit.svg');
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.075s var(--ease-in-out-2);
}

.upload-instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  padding: var(--size-1) var(--size-2);
  background-color: var(--surface-3);
  border-radius: var(--radius-2);
  text-align: center;
}

.painting {
  image-rendering: pixelated;
  max-height: 100%;
  max-width: 100%;
  height: var(--painting-height);
  width: var(--painting-width);
}
